<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>全部订单</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <link rel="stylesheet" href="lib/weui.min.css">
    <link rel="stylesheet" href="css/jquery-weui.css">
    <link rel="stylesheet" href="css/style.css">
</head>
<body ontouchstart>
<header class="wy-header" style="position:fixed; top:0; left:0; right:0; z-index:200;">
    <div class="wy-header-icon-back"><span></span></div>
    <div class="wy-header-title">订单管理</div>
</header>
<div class='weui-content'>
    <div class="weui-tab">
        <div class="weui-navbar" style="position:fixed; top:44px; left:0; right:0; height:44px; background:#fff;">
            <a class="weui-navbar__item proinfo-tab-tit font-14 weui-bar__item--on" href="#tab1" data-id="0">全部</a>
            <a class="weui-navbar__item proinfo-tab-tit font-14" href="#tab2" data-id="1">待付款</a>
            <a class="weui-navbar__item proinfo-tab-tit font-14" href="#tab3" data-id="2">待发货</a>
            <a class="weui-navbar__item proinfo-tab-tit font-14" href="#tab4" data-id="3">待收货</a>
            <a class="weui-navbar__item proinfo-tab-tit font-14" href="#tab5" data-id="4">待评价</a>
        </div>
        <div class="weui-tab__bd proinfo-tab-con" style="padding-top:87px;">
            <div id="tab1" class="weui-tab__bd-item weui-tab__bd-item--active">
            </div>
            <div id="tab2" class="weui-tab__bd-item">
            </div>
            <div id="tab3" class="weui-tab__bd-item">
            </div>
            <div id="tab4" class="weui-tab__bd-item">
            </div>
            <div id="tab5" class="weui-tab__bd-item">
            </div>
        </div>
    </div>
</div>

<script src="lib/jquery-2.1.4.js"></script>
<script src="lib/fastclick.js"></script>
<script src="js/common.js?v=2"></script>
<script src="js/constant.js"></script>
<script>
    $(function () {
        FastClick.attach(document.body);
    });
</script>
<script src="js/jquery-weui.js"></script>
<script>
    $(document).on("click", ".ords-btn-dele", function () {
        $.confirm("您确定要删除此订单吗?", "确认删除?", function () {
            $.toast("订单已经删除!");
        }, function () {
            //取消操作
        });
    });
    $(document).on("click", ".receipt", function () {
        $.alert("五星好评送蓝豆哦，赶快去评价吧！", "收货完成！");
    });

</script>
<script src="lib/template-web.js"></script>
<script type="text/javascript" src="js/order/list.js"></script>
<script id="all_order_template" type="text/html">
    {{each list}}

    <div class="weui-panel weui-panel_access">
        <div class="weui-panel__hd"><span><a
                href="order_info.html?id={{$value.orderId}}">单号：{{$value.orderId}}</span><span
                class="ord-status-txt-ts fr">{{$value.statusName}}</a></span></div>
        {{each $value.prods}}
        <div class="weui-media-box__bd  pd-10">
            <div class="weui-media-box_appmsg ord-pro-list">
                <div class="weui-media-box__hd"><a href="pro_info.html">
                    <img class="weui-media-box__thumb" src="upload/pro3.jpg" alt=""></a></div>
                <div class="weui-media-box__bd">
                    <h1 class="weui-media-box__desc"><a href="pro_info.html"
                                                        class="ord-pro-link">{{$value.prodName}}</a>
                    </h1>
                    <p class="weui-media-box__desc">规格：<span>红色</span>，<span>23</span></p>
                    <div class="clear mg-t-10">
                        <div class="wy-pro-pri fl">¥<em class="num font-15">{{$value.realPrice}}</em></div>
                        <div class="pro-amount fr"><span class="font-13">数量×<em
                                class="name">{{$value.prodNum}}</em></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {{/each}}
        <div class="ord-statistics">
            <span>共<em class="num">2</em>件商品，</span>
            <span class="wy-pro-pri">总金额：¥<em class="num font-15">592.00</em></span>
            <span>(含运费<b>￥0.00</b>)</span>
        </div>
        <div class="weui-panel__ft">
            <div class="weui-cell weui-cell_access weui-cell_link oder-opt-btnbox">
                {{if $value.status==1}}
                <div class="mg10-0"><a href="shopcart.html" class="ords-btn-com weui-btn_primary">支付</a></div>
                {{/if}}
                {{if $value.status==3}}
                <div class="mg10-0"><a href="shopcart.html" class="ords-btn-com weui-btn_primary">确认收货</a></div>
                {{/if}}
                {{if $value.status==4}}
                <div class="mg10-0"><a href="comment.html" class="ords-btn-com weui-btn_primary">评价</a></div>
                {{/if}}
                {{if $value.status==5}}
                <div class="mg10-0"><a href="shopcart.html" class="ords-btn-dele">删除</a></div>
                {{/if}}
            </div>
        </div>
    </div>
    {{/each}}
</script>
</body>
</html>
