<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>商城分类</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <link rel="stylesheet" href="lib/weui.min.css">
    <link rel="stylesheet" href="css/jquery-weui.css">
    <link rel="stylesheet" href="css/style.css">
</head>
<body ontouchstart>
<!--顶部搜索-->
<!--主体-->
<div class="wy-content">
    <div class="category-top">
        <header class='weui-header'>
            <div class="weui-search-bar" id="searchBar">
                <form class="weui-search-bar__form">
                    <div class="weui-search-bar__box">
                        <i class="weui-icon-search"></i>
                        <input type="search" class="weui-search-bar__input" id="searchInput" placeholder="搜索您想要的商品"
                               required>
                        <a href="javascript:" class="weui-icon-clear" id="searchClear"></a>
                    </div>
                    <label class="weui-search-bar__label" id="searchText"
                           style="transform-origin: 0px 0px 0px; opacity: 1; transform: scale(1, 1);">
                        <i class="weui-icon-search"></i>
                        <span>搜索您想要的商品</span>
                    </label>
                </form>
                <a href="javascript:" class="weui-search-bar__cancel-btn" id="searchCancel">取消</a>
            </div>
        </header>
    </div>
    <aside>

    </aside>

</div>
<script type="text/html" id="first_category_list_template">
    <div class="menu-left scrollbar-none" id="sidebar">
        <ul>
            {{each list}}
            {{if $index ==0}}
            <li class="active" data-id="{{$value.cataId}}">{{$value.cataName}}</li>
            {{/if}}
            {{if $index !=0}}
            <li data-id="{{$value.cataId}}">{{$value.cataName}}</li>
            {{/if}}
            {{/each}}
        </ul>
    </div>
    <section class="menu-right padding-all j-content">
        <h5>酒水食品</h5>
        <ul id="secondCategory">
            <li class="w-3"><a href="pro_list.html"></a> <img src="upload/pro3.jpg"><span>酒水食品</span></li>
            <li class="w-3"><a href="pro_list.html"></a> <img src="upload/pro3.jpg"><span>酒水食品</span></li>
            <li class="w-3"><a href="pro_list.html"></a> <img src="upload/pro3.jpg"><span>酒水食品</span></li>
            <li class="w-3"><a href="pro_list.html"></a> <img src="upload/pro3.jpg"><span>酒水食品</span></li>
            <li class="w-3"><a href="pro_list.html"></a> <img src="upload/pro3.jpg"><span>酒水食品</span></li>
            <li class="w-3"><a href="pro_list.html"></a> <img src="upload/pro3.jpg"><span>酒水食品</span></li>
        </ul>
    </section>
</script>
<div class="weui-tabbar wy-foot-menu">
    <a href="index.html" class="weui-tabbar__item">
        <div class="weui-tabbar__icon foot-menu-home"></div>
        <p class="weui-tabbar__label">首页</p>
    </a>
    <a href="classify.html" class="weui-tabbar__item">
        <div class="weui-tabbar__icon foot-menu-list"></div>
        <p class="weui-tabbar__label">分类</p>
    </a>
    <a href="shopcart.html" class="weui-tabbar__item">
        <span class="weui-badge" style="position: absolute;top: -.4em;right: 1em;">8</span>
        <div class="weui-tabbar__icon foot-menu-cart"></div>
        <p class="weui-tabbar__label">购物车</p>
    </a>
    <a href="mine.html" class="weui-tabbar__item weui-bar__item--on">
        <div class="weui-tabbar__icon foot-menu-member"></div>
        <p class="weui-tabbar__label">我的</p>
    </a>
</div>

<script src="lib/jquery-2.1.4.js"></script>
<script src="lib/fastclick.js"></script>
<script>
    $(function () {
        FastClick.attach(document.body);
    });
</script>
<script src="js/jquery-weui.js"></script>
<script src="js/common.js"></script>
<script src="js/constant.js"></script>
<!--<script src="js/classify.js"></script>-->
<script src="lib/template-web.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
        loadFirstCategoryList();
    });

    function loadFirstCategoryList() {
        var url = BASE_BASE_URL + "/category/listTree";
        $.ajax({
            type: "get",
            url: url,
            dataType: "json",
            contentType: "application/json",
            success: function (data) {
                if (data.success) {
                    var data = data.data;
                    var html = template("first_category_list_template", {"list": data});
                    document.getElementById('first_category_list').innerHTML = html;

                    //这里才能绑定
                    $('#sidebar ul li').click(function () {
                        $(this).addClass('active').siblings('li').removeClass('active');
                        var index = $(this).index();
                        $('.j-content').eq(index).show().siblings('.j-content').hide();
                    })
                }
            },
            error: function (data) {
            }
        });
    }
</script>

</body>
</html>
