<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<title>订单详情2</title>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
<meta name="description" content="Write an awesome description for your new site here. You can edit this line in _config.yml. It will appear in your document head meta (for Google search results) and in your feed.xml site description.
">
<link rel="stylesheet" href="lib/weui.min.css">
<link rel="stylesheet" href="css/jquery-weui.css">
<link rel="stylesheet" href="css/style.css">
</head>
<body ontouchstart>
<!--主体-->
<header class="wy-header">
  <div class="wy-header-icon-back"><span></span></div>
  <div class="wy-header-title">订单详情</div>
</header>
<div class="weui-content" id="order_info">
</div>
<script src="lib/jquery-2.1.4.js"></script> 
<script src="lib/fastclick.js"></script> 
<script type="text/javascript" src="js/jquery.Spinner.js"></script>
<script>
  $(function() {
    FastClick.attach(document.body);
  });
</script>
<script type="text/javascript">
$(function(){
	$(".Spinner").Spinner({value:1, len:3, max:999});
});
</script>
<script src="js/jquery-weui.js"></script>
<script src="lib/template-web.js"></script>
<script src="js/common.js?v=2"></script>
<script src="js/constant.js"></script>
<script type="text/javascript" src="js/order/detail.js"></script>
<script type="text/html" id="order_info_template">
    <div class="weui-panel weui-panel_access">
        <div class="weui-panel__hd">
            <span>单号：{{orderId}}</span><span class="ord-status-txt-ts fr">{{statusName}}</span>
        </div>
    </div>
    <div class="wy-media-box weui-media-box_text address-select">
        <div class="weui-media-box_appmsg">
            <div class="weui-media-box__hd proinfo-txt-l" style="width:20px;"><span class="promotion-label-tit"><img src="images/icon_nav_city.png" /></span></div>
            <div class="weui-media-box__bd">
                <a href="address_list.html" class="weui-cell_access">
                    <h4 class="address-name"><span>{{consignee}}</span><span>{{consignPhone}}</span></h4>
                    <div class="address-txt">{{address}}</div>
                </a>
            </div>
            <div class="weui-media-box__hd proinfo-txt-l" style="width:16px;"><div class="weui-cell_access"><span class="weui-cell__ft"></span></div></div>
        </div>
    </div>
    <div class="wy-media-box weui-media-box_text">
        <div class="weui-media-box__bd">
            {{each prods}}
            <div class="weui-media-box_appmsg ord-pro-list">
                <div class="weui-media-box__hd"><a href="pro_info.html"><img class="weui-media-box__thumb" src="upload/pro3.jpg" alt=""></a></div>
                <div class="weui-media-box__bd">
                    <h1 class="weui-media-box__desc"><a href="pro_info.html" class="ord-pro-link">{{$value.prodName}}</a></h1>
                    <p class="weui-media-box__desc">规格：<span>红色</span>，<span>23</span></p>
                    <div class="clear mg-t-10">
                        <div class="wy-pro-pri fl">¥<em class="num font-15">{{$value.realPrice}}</em></div>
                        <div class="pro-amount fr"><span class="font-13">数量×<em class="name">{{$value.prodNum}}</em></span>
                        </div>
                    </div>
                </div>
                {{/each}}
            </div>
        </div>
    </div>
    <div class="wy-media-box weui-media-box_text">
        <div class="mg10-0 t-c">总金额：<span class="wy-pro-pri mg-tb-5">¥<em class="num font-20">296.00</em></span></div>
        {{if status==1}}
        <div class="mg10-0"><a href="shopcart.html" class="weui-btn weui-btn_primary">微信付款</a></div>
        {{/if}}
        {{if status==3}}
        <div class="mg10-0"><a href="shopcart.html" class="weui-btn weui-btn_primary">确认收货</a></div>
        {{/if}}
        {{if status==4}}
        <div class="mg10-0"><a href="shopcart.html" class="weui-btn weui-btn_danger">评价</a><a href="shopcart.html" class="weui-btn weui-btn_danger">查看物流</a></div>
        {{/if}}
        {{if status==5}}
        <div class="mg10-0"><a href="shopcart.html" class="weui-btn weui-btn_danger">删除</a></div>
        {{/if}}
    </div>
</script>
</body>
</html>
