<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.liuyiyou.shop.base.mapper.Nav4bossMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="cn.liuyiyou.shop.base.entity.Nav4boss">
        <id column="nav_id" property="navId" />
        <result column="nav_name" property="navName" />
        <result column="nav_url" property="navUrl" />
        <result column="nav_icon" property="navIcon" />
        <result column="nav_level" property="navLevel" />
        <result column="nav_type" property="navType" />
        <result column="weight" property="weight" />
        <result column="parent_nav_id" property="parentNavId" />
        <result column="nav_style" property="navStyle" />
        <result column="status" property="status" />
        <result column="create_time" property="createTime" />
        <result column="status_time" property="statusTime" />
        <result column="recommend" property="recommend" />
        <result column="last_update" property="lastUpdate" />
        <result column="update_suid" property="updateSuid" />
        <result column="second_text" property="secondText" />
        <result column="title_color" property="titleColor" />
        <result column="link_type" property="linkType" />
        <result column="cata_ids" property="cataIds" />
        <result column="brand_ids" property="brandIds" />
        <result column="title_pic" property="titlePic" />
        <result column="activity_ids" property="activityIds" />
        <result column="share_title" property="shareTitle" />
        <result column="share_content" property="shareContent" />
        <result column="share_icon" property="shareIcon" />
        <result column="qr_code_pic" property="qrCodePic" />
        <result column="nav_iconv2" property="navIconv2" />
        <result column="width" property="width" />
        <result column="height" property="height" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        nav_id, nav_name, nav_url, nav_icon, nav_level, nav_type, weight, parent_nav_id, nav_style, status, create_time, status_time, recommend, last_update, update_suid, second_text, title_color, link_type, cata_ids, brand_ids, title_pic, activity_ids, share_title, share_content, share_icon, qr_code_pic, nav_iconv2, width, height
    </sql>

</mapper>
